submission2/n8n/workflow.json
{
  "name": "QuickMove — Broker Assignment Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "broker-assignment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Build a professional assignment email\nconst { customer, broker, assignment } = $input.first().json;\n\nconst budgetStr = (customer.budget_min && customer.budget_max)\n  ? `₹${customer.budget_min.toLocaleString('en-IN')} – ₹${customer.budget_max.toLocaleString('en-IN')} / month`\n  : 'Not specified';\n\nconst regions = (customer.preferred_regions || []).join(', ') || 'Not specified';\nconst specials = (customer.special_requirements || []).length > 0\n  ? customer.special_requirements.map(r => `  • ${r}`).join('\\n')\n  : '  None';\n\nconst emailSubject = `New Property Search Assignment — ${customer.name} (${customer.city})`;\n\nconst emailBody = `\nDear ${broker.name},\n\nYou have been assigned a new property search request through QuickMove.\nPlease review the customer requirements below and initiate property shortlisting.\n\n──────────────────────────────────────────────\nCUSTOMER DETAILS\n──────────────────────────────────────────────\nName            : ${customer.name}\nDestination     : ${customer.city}\nApartment Type  : ${customer.apartment_type || 'Not specified'}\nBudget          : ${budgetStr}\nFurnished       : ${customer.furnished_status || 'Not specified'}\nPreferred Areas : ${regions}\nParking Needed  : ${customer.parking_required ? 'Yes' : 'No'}\nPets            : ${customer.pets_allowed ? 'Yes' : 'No'}\nOffice Location : ${customer.office_location || 'Not specified'}\nMove Date       : ${customer.move_date || 'Flexible'}\n\nSpecial Requirements:\n${specials}\n\n──────────────────────────────────────────────\nASSIGNMENT DETAILS\n──────────────────────────────────────────────\nAssignment ID   : #${assignment.id}\nAssigned By     : ${assignment.approved_by}\nResponse By     : ${assignment.deadline || 'As soon as possible'}\n\n──────────────────────────────────────────────\n\nNext Steps:\n1. Begin property search in the specified localities\n2. Shortlist 3–5 properties matching the criteria\n3. Share the shortlist with QuickMove within the deadline\n4. Coordinate site visits with the customer\n\nFor questions, contact the QuickMove operations team.\n\nBest regards,\nQuickMove Operations\nops@quickmove.in | +91 80 4567 8900\n`.trim();\n\nreturn [{ json: { ...($input.first().json), emailSubject, emailBody } }];"
      },
      "id": "build-email",
      "name": "Build Email Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "fromEmail": "ops@quickmove.in",
        "toEmail": "={{ $json.broker.email }}",
        "subject": "={{ $json.emailSubject }}",
        "text": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Assignment Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [750, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "QuickMove SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Notification sent', assignment_id: $json.assignment.id }) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Content": {
      "main": [
        [
          {
            "node": "Send Assignment Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "quickmove-broker-allocation"
  }
}
